:root {
    --black: #000;
    --dark-grey: #333;
    --grey: #666;
    --light-grey: #aaa;
    --white: #fff;
    --green: #7eb87e;
    --blue: #2c7ab6;
}

$colors: (
    'black': var(--black),
    'dark-grey': var(--dark-grey),
    'grey': var(--grey),
    'light-grey': var(--light-grey),
    'white': var(--white),
    'green': var(--green),
    'blue': var(--blue),
);

@each $name, $hex in $colors {
    .text-#{$name} {
        color: $hex;
    }
    .bg-#{$name} {
        background-color: $hex;
    }
}
