.card {
    border: 2px solid var(--grey);
    border-radius: 10px;
    margin: 20px 10px;
    min-width: 300px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    color: var(--black);
    padding: 5px;
}

.cardContent {
    padding: 5px 10px;
}
