.card {
    border: 2px solid var(--black);
    background-color: rgba($color: #000, $alpha: 0.7);
    border-radius: 5px;
    margin: 20px 10px;
    min-width: 300px;
}

.cardHeader {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 0 15px;

    > strong {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.cardContent {
    padding: 10px 15px;
}
