.navBar {
    background-color: var(--green);
    border-top: 3px solid var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    > a {
        color: var(--black);
        padding: 5px;
        text-decoration: none;
        white-space: nowrap;
    }
}
