.tabs > span {
    border-bottom: 3px solid var(--light-grey);
    color: var(--light-grey);
    cursor: pointer;
    font-weight: bold;
    margin: 0 2px;

    &.active {
        color: var(--pink);
        border-color: var(--pink);
    }
}
