@use './styles/typography';
@use './styles/spacing';
@use './styles/flexbox';
@use './styles/sizing';
@use './styles/colors';

#root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    background-color: var(--black);
    box-sizing: border-box;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 40px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--green);
    padding: 0;
    margin: 0;
}

a {
    color: var(--green);
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 8px 0;
}

p,
li,
em,
strong,
span,
table {
    font-size: 14px;
    line-height: 1.4em;
}

img {
    border-radius: 10px;
}

table {
    border: 2px solid var(--green);
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;

    tr {
        td,
        th {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        th {
            background-color: var(--dark-grey);
            text-align: left;
        }

        td {
            background-color: var(--dark-grey);
            text-align: left;
        }
    }

    tr:nth-child(odd) td {
        background-color: var(--black);
    }
}
